<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"></meta>
    <title>Healthchecker</title>
</head>
<body>
<div th:if="${instances != null}">
    <h1>Result</h1>
    <ul>
        <li th:each="instance : ${instances}" th:text="${instance}"></li>
    </ul>
</div>
</body>
</html>